.bookingForm{
    width: 60vw;
    margin-top: 20px;
    height: 80vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.bookingForm .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookingForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.bookingForm .inputClass{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.bookingForm .travel{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: -20px;
}

.bookingForm .travel .traveldiv{
    display: flex;
    width: 100%;
    gap: 20px;
}

.bookingForm .travel p{
    margin-top: -25px;
}

.bookingForm .inputClass .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.bookingForm label{
    margin-bottom: 10px;
    font-size: 19px;
}

.bookingForm input,
.bookingForm select{
    width: 100%;
    border: none;
    outline: navajowhite;
    border-bottom: 3px solid var(--color-dark);
    transition: all 300ms ease-in;
    padding: 5px;
    font-size: 18px;
}

.bookingForm input:focus,
.bookingForm select:focus{
    border-bottom: 3px solid var(--color-primary-variant);
}

.bookingForm .opt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bookingForm .vehicle{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookingForm .payment{
    width: 20%;
}

.bookingForm hr{
    margin-top: 30px;
    border: 2px solid var(--color-dark);
}

.bookingForm .btn{
    display: flex;
    width: 100%;
}

.bookingForm .btn button{
    padding: 15px 25px;
    background: var(--color-primary);
    transition: all 300ms ease;
    margin-left: auto;
    color: var(--color-white);
    font-weight: 500;
    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 16px;
}

.bookingForm .btn button:hover{
    background: var(--color-primary-opa);
}