.departureForm{
    width: 60vw;
    margin-top: 20px;
    height: 80vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.departureForm .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
}

.departureForm .top h1{
    width: 100%;
}

.departureForm .top span{
    width: 100%;
}

.departureForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.departureForm .inputClass{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.departureForm .inputClass .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.departureForm label{
    margin-bottom: 10px;
    font-size: 19px;
}

.departureForm input,
.departureForm select{
    width: 100%;
    border: none;
    outline: navajowhite;
    border-bottom: 3px solid var(--color-dark);
    transition: all 300ms ease-in;
    padding: 5px;
    font-size: 18px;
}

.departureForm input:focus,
.departureForm select:focus{
    border-bottom: 3px solid var(--color-primary-variant);
}

.departureForm .opt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.departureForm .vehicle{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.departureForm .payment{
    width: 20%;
}

.departureForm hr{
    margin-top: 30px;
    border: 2px solid var(--color-dark);
}

.departureForm .btn{
    display: flex;
    width: 100%;
}

.departureForm .btn button{
    padding: 15px 25px;
    background: var(--color-primary);
    transition: all 300ms ease;
    margin-left: auto;
    color: var(--color-white);
    font-weight: 500;
    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 16px;
}

.departureForm .btn button:hover{
    background: var(--color-primary-opa);
}

@media screen and (max-width: 700px) {
    .departureForm h1{
        font-size: 20px;
    }

    .departureForm{
        padding-left: 5px;
        padding-right: 5px;
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .departureForm{
        padding-left: 5px;
        padding-right: 5px;
        width: 85vw;
    }

    .departureForm .payment{
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .departureForm .vehicle{
        width: 100%;
    }

    .departureForm .inputClass{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .departureForm .top h1{
        font-size: 17px;
    }
}